/*
    CSS RESET BY ERIC MEYER
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 

VARIABLES

*/

:root {
    --dark-bg-color: #1F2937;
    --hero-text: #F9FAF8;
    --hero-secondary-text: #E5E7EB;

    --button-color: #3882F6;

    --features-text: #1F2937;

    --quote-bg-color: #E5E7EB;
    --quote-text: #1F2937;

  }
  


/* 

STYLES ADDED

*/

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    background-color: var(--dark-bg-color);
    padding: 1rem 5rem;
    color: var(--hero-text);
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 1rem;
}

section#hero {
    padding: 5rem;
    background-color: var(--dark-bg-color);
    color: var(--hero-text);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.hero-text {
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#hero h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2rem;
    line-height: 3rem;
}

#hero p {
    font-size: 1.125rem;
    color: var(--hero-secondary-text);
    margin-bottom: 2rem;
    line-height: 1.25rem;
}

#hero button {
    display: inline-block;
    background: var(--button-color);
    border: 0;
    border-radius: 1rem;
    color: var(--hero-text);
    font-weight: 700;
    cursor: pointer;
    width: 10rem;
    padding: 0.25rem 2rem;
    margin-bottom: 2rem;
}

.hero-img {
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.hero-img img {
    border-radius: 2rem;
}

section#featured {
    color: var(--features-text);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

#featured h2 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: 700;
    font-size: 2.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#featured .card {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.card img {
    border-radius: 1.5rem;
    border: .25rem solid var(--button-color);
    width: 10rem;
    margin-bottom: 1rem;
    filter: saturate(0%);
}

.card img:hover {
    filter: saturate(100%);
}

.card p {
    color: var(--features-text);
    font-size: 0.75rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 5rem;
}

section#quotes {
    background: var(--quote-bg-color);
    color: var(--quote-text);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#quotes .container {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#quotes p.quote {
    width: 70%;
    font-size: 2.25rem;
    font-weight: 200;
    font-style: italic;
}

#quotes p.author {
    font-size: 1rem;
    font-weight: 700;
    align-self: flex-end;
    margin-right: 3rem;
}

#quotes p.quote:before,
#quotes p.quote:after {
    content: '"'
}

section#cta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#cta .calltoaction .container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
}

#cta .calltoaction {
    background: var(--button-color);
    color: var(--hero-text);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 1.5rem;
}

#cta .calltoaction h3{
    font-weight: 700;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


#cta .calltoaction button{
    display: inline-block;
    background: var(--button-color);
    border: 2px var(--hero-text) solid;
    border-radius: 1rem;
    color: var(--hero-text);
    font-weight: 700;
    cursor: pointer;
    width: 10rem;
    padding: 0.25rem 2rem;
}

#cta .calltoaction button:hover{
    cursor: pointer;
}

#footer {
    background: var(--dark-bg-color);
    color: var(--hero-secondary-text);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#footer p:before {
    content: "Copyright \00a9 "
}